h1, h2, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2 {
    
}



.proj {
    display: grid;
    grid-template-columns: 50% 50%;
}
.proj p {
    padding: 15px;
    font-size: 14px;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}